<% flash.each do |key, value| %>
 <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
 
<ul class="list_article">
  <% @article.each do |article| %>
  <div class="article_set">
  <li>
    <h2><%= article.title %></h2>
    <div class="article_post">
    <% if article.image !="" %>
    
     <p><img src="<%= article.image %>"></p>
    </div>
    <% end %>
    <p><%= article.content %></p>
    <p><%= fa_icon("clock-o") %><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  </li>
 
  <% if user_signed_in? %>
   <div class="edit_tag">
   <ul>
     <li><%= link_to '編集', "/#{article.id}/edit", method: :get %></li>
     <li><%= link_to '削除', "/#{article.id}", method: :delete %> </li>
   </ul>
   </div>
  </div>
   <% end %>

<% end %>
<%= paginate(@article) %>
</ul>